@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


$wineColor: #450309;
$cherryColor: #ff415b;
$oliveColor: #64a532;
$kahakiColor: #b09647;
$lightStealBlue: #dee2e3;
$darkOliveGreen: #7b5536; 
